# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env.*.local
.env.local

# Node
node_modules/
.next/
out/

# Docker
*.pid
*.log
docker-data/

# Alembic
backend/alembic/versions/*.pyc

# Misc
.DS_Store
.idea/
.vscode/
